<p-table [value]="lancamentos" [responsive]="true"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    [paginator]="true" [lazy]="true"
    [rows]="itensPorPagina" [totalRecords]="totalRegistros"
    (onLazyLoad)="aoMudarPagina($event)"
    #tabela>
    <ng-template pTemplate="header">
        <tr>
            <th class="p-col-3">Pessoa</th>
            <th class="p-col-5">Descrição</th>
            <th class="p-col-1 col-center">Vencimento</th>
            <th class="p-col-1 col-center">Pagamento</th>
            <th class="p-col-1 col-right">Valor</th>
            <th class="p-col-1"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
        <tr>
            <td>
                <span class="p-column-title">Pessoa</span>
                {{lancamento.pessoa}}
            </td>
            <td>
                <span class="p-column-title">Descrição</span>
                {{lancamento.descricao}}
            </td>
            <td class="col-center">
                <span class="p-column-title">Vencimento</span>
                {{lancamento.dataVencimento | date:'dd/MM/yyyy'}}
            </td>
            <td class="col-center">
                <span class="p-column-title">Pagamento</span>
                {{lancamento.dataPagamento | date:'dd/MM/yyyy'}}
            </td>
            <td class="col-right">
                <span class="p-column-title">Valor</span>
                <span [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">
                    {{lancamento.valor | currency:'BRL':'symbol':'1.2-2'}}
                </span>
            </td>
            <td class="col-center">
                <a class="col-mr" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/lancamentos', lancamento.codigo]"></a>
                <button type="button" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)"
                [disabled]="!authService.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="col-center" colspan="6">Nenhum lançamento encontrado</td>
      </tr>
    </ng-template>
</p-table>