<div class="container">

    <form #pessoaForm="ngForm" (ngSubmit)="salvar()">

        <div class="p-grid">

            <div class="p-col-12">
                <h1>{{ editando ? 'Alterando' : 'Nova'}} Pessoa</h1>
                <p class="danger">* Campos obrigatórios</p>
            </div>

            <div class="p-col-12">
              <p-selectButton [options]="sexo" name="sexo"
                [(ngModel)]="pessoa.sexo"></p-selectButton>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Nome *</label>
                <input pInputText type="text" name="nome" [(ngModel)]="pessoa.nome"
                #campoNome="ngModel"
                required minlength="3" maxlength="100">

                <app-message [model]="campoNome" error="required"
                text="Informe o nome"></app-message>

                <app-message [model]="campoNome" error="minlength"
                text="Mínimo de {{ campoNome.errors?.minlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="p-col-3 p-fluid">
              <label>Data Nasc. *</label>
              <p-calendar dateFormat="dd/mm/yy"
              [inline]="false" [readonlyInput]="false"
              [showIcon]="false"
              name="dataNascimento" [(ngModel)]="pessoa.dataNascimento"
              #campoDataNascimento="ngModel"
              [required]="true"></p-calendar>

              <app-message [model]="campoDataNascimento" error="required"
              text="Informe a data de nascimento. Ex: 19/10/1990"></app-message>
          </div>

            <div class="p-col-9 p-fluid">
                <label>Email</label>
                <input pInputText type="text" name="email" [(ngModel)]="pessoa.email"
                #campoEmail="ngModel"
                email>

                <app-message [model]="campoEmail" error="email"
                text="Informe um email válido"></app-message>
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>Naturalidade</label>
                <input pInputText type="text" name="naturalidade" [(ngModel)]="pessoa.naturalidade">
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>Nacionalidade</label>
                <input pInputText type="text" name="nacionalidade" [(ngModel)]="pessoa.nacionalidade">
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>CPF *</label>
                <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="pessoa.cpf"
                #campoCPF="ngModel"
                [required]="true"></p-inputMask>

                <app-message [model]="campoCPF" error="required"
                text="Informe o CPF"></app-message>
            </div>

            <div class="p-col-12">
                <button class="p-button-info col-mr" pButton type="submit" label="Salvar"
                [disabled]="!pessoaForm.valid"></button>

                <button class="col-mr" pButton type="button" label="Nova"
                  (click)="novo(pessoaForm)"></button>
                <a routerLink="/pessoas">Voltar para a pesquisa</a>
            </div>


        </div>

    </form>

</div>